<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Whack-A-Mole</Whack-A-Mole></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="!isPlaying && !gameOver" class="playFrame">
        Lets whack some moles!
        <div class="playButton" @click="play()">GO</div>
      </div>
      <div v-if="!gameOver" id="game" :class="{notPlaying: !isPlaying}">
        <img
          v-for="hole in moleHoles"
          :src="moleInHole(hole)"
          class="moleHole"
          @click="whackMole(hole)"
        />
      </div>
      <div v-if="!gameOver" class="timer" id="timer">
        <div>Time left:</div>
        {{playTimeLeft}}
      </div>
      <div v-if="!gameOver"class="score" id="score">Score: {{molesWhacked}}</div>
      <div v-if="gameOver" class="gameOverScreen">
        <div class="gameOver" :class="{flash: flash}">GAME OVER!</div>
        <div class="score">Total Score: {{molesWhacked}}</div>
        <div @click="play()" class="playButton">Restart?</div>
      </div>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>
