<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Whack-A-Mole</Whack-A-Mole></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="play" :disabled="isPlaying">Start Game</button>
      <div id="game">
        <div
          v-for="hole in moleHoles"
          class="moleHole"
          :class="{ mole: hole.mole}"
          @click="whackMole(hole)"
        >
          <h1 v-if="hole.mole" class="moleInHole">MOLE</h1>
        </div>
      </div>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>
