* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d0e4f5 url("IMG/grass.jpg") repeat fixed 0 0;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 40px;
  justify-content: center;
  align-content: center;
  align-items: end;
}

.moleHole {
  max-width: 100%;
  object-fit: contain;
  opacity: 1;
}

.playFrame {
  position: fixed;
  text-align: center;
  height: fit-content;
  background: blue;
  color: white;
  padding: 20px 100px;
  border: 10px solid black;
  border-radius: 20% / 50%;
  z-index: 1;
}

.playButton {
  color: white;
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  border: solid green 4px;
  margin: 10px auto;
  width: fit-content;
  border-radius: 40px;
  background: red;
  user-select: none;
  cursor: pointer;
}

.notPlaying {
  opacity: 0.5;
}

.timer {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: center;
  border: solid black 5px;
  padding: 10px;
  font-size: x-large;
  border-radius: 20px;
  background: blue;
  color: white;
  width: 300px;
}

.gameOverScreen {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gameOver {
  border: solid red 10px;
  text-align: center;
  border-radius: 100px;
  padding: 40px;
  font-size: 300%;
  font-weight: bolder;
  background: black;
  color: rgb(255, 96, 96);
}

.gameOver.flash {
  background: rgb(255, 96, 96);
  color: black;
}

.score {
  text-align: center;
  border: solid blue 5px;
  padding: 10px;
  font-size: x-large;
  border-radius: 20px;
  background: green;
  color: white;
}
