* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 40px;
  justify-content: center;
  align-content: center;
  align-items: end;
}

.moleHole {
  max-width: 150px;
  object-fit: contain;
  opacity: 1;
}

.moleHole.mole {
  background: rgb(253, 0, 0);
}

.moleInHole {
  text-align: center;
}
